html, body, .container {
  height: 99%;
  border: 1px solid blue;
 
}

div {
  border: 1px solid purple;
}

h4 {
  font-weight: 900;
}

li {
  float: left;  
  margin-left: 8%;
}

.floatMid {
  text-align: center;
}