html, body, .container {
  height: 99%;
  background-color: silver;
  color: black;  
}

h1, h3 {
  text-align: center;
}

h4 {
  font-weight: 900;
}

#languages li {
  float: left;  
  margin-left: 9%;
}

.floatMid {
  text-align: center;
}

#results-presentation {
  text-align: center;
  font-weight: 900;
}

#results-container li{
  float: left;
  margin-left: 18%;
  font-weight: 600;
  font-size: x-large;
}

.btn {
  background-color:rgb(200,200,200);
}